.henny-penny-regular {
  font-family: "Henny Penny", system-ui;
  font-weight: 400;
  font-style: normal;
}


body {
      font-family: "Henny Penny", system-ui;
}

      line-height: 1.6;
      margin: 0;
      color: #a50c59;
      background-color: #b5cfbb;
    }
    header {
      background-color: #a50c59;
      color: #b5cfbb;
    }